# Python/Django
__pycache__/
*.py[cod]
*.log
.venv/
venv/
.mypy_cache/
.pytest_cache/
*.sqlite3
db.sqlite3
media/
staticfiles/

# Entornos/secretos
.env
**/.env
.env.local
.env.*.local

# Node/React (futuro)
node_modules/
dist/
build/
*.tsbuildinfo
.parcel-cache/
.next/

# VSCode
.vscode/

# Docker
**/tmp/
# Mi archivo personal
mis_mascotas.py

# Archivos de instalación y temporales
*.msi
*.exe
*.stackdump
*.tmp
*.temp

# Logs adicionales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos de sistema
.DS_Store
Thumbs.db
*.swp
*.swo

