# Python/Django
__pycache__/
*.py[cod]
*.log
.venv/
venv/
.mypy_cache/
.pytest_cache/
*.sqlite3
db.sqlite3
media/
staticfiles/

# Entornos/secretos
.env
**/.env
.env.local
.env.*.local

# Node/React (futuro)
node_modules/
dist/
build/
*.tsbuildinfo
.parcel-cache/
.next/

# VSCode
.vscode/

# Docker
**/tmp/
# Mi archivo personal
mis_mascotas.py

